.elven{
    font-family: "greifswalder tengwar";
}

.dwarven{
    font-family: "runen";
}

.starwars{
    font-family: "New Waltograph";
	margin: 5pt;
}
.aside{
    float:right;
    border: 1pt navy solid;
    width: 50%;
}

.speaker{
    text-decoration:underline;
    text-transform: uppercase;
    font-weight: bold;
}

.description{
    color:navy;
    font-size: smaller;
    font-family:Helvetica;
}

div{
    font-family:Helvetica
}
