p{
    margin-bottom: 5px;
    margin-left: 2px;
}
h2{
    color:#F9C227;
    margin: 0px;
}
[class*="col-"] {
    float: left;
}
.container{
    width:100%;
    content: counters(pages);
}
.container::after{
    content: "";
    clear: both;
    display: table;
}
.header{
    background-color: #F9C227;
    color: #FFFFFF;
    margin-bottom:10px;
}

.menu ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
}
.menu li {
    padding: 8px;

    margin-bottom: 7px;
    background-color: #055587;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.menu li:hover {
    background-color: #F9C227;
}

.aside {
    margin-top: 10px;
    background-color: #055587;
    padding-top: 0px;

    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

.exhibition {
	font-weight: bold;
}

/*Dynamic sizing*/
[class*="col-"]{
    width: 100%;
}
/*Mobile*/
@media only screen{

    p{
        font-size: 24pt;
    }

    h1{
        font-size: 36pt;
    }

    h2{
        font-size:28pt
    }
}

/*Tablet*/
@media only screen and (min-width: 600px) {
    .col-1-m {width: 24.9%;}
    .col-2-m {width: 49.9%;}
    .col-3-m {width:74%}
    .col-4-m {width: 99%;}
    p{
        font-size: 16pt;
    }

    h1{
        font-size: 24pt;
    }

    h2{
        font-size:18pt
    }
}

/*Desktop*/
@media only screen and (min-width: 768px ) {
        .col-1 {width:24.9%;}
        .col-2 {width: 33.32%;}
        .col-3 {width: 49%;}
        .col-4 {width: 99%;}
        p{
            font-size: 12pt;
        }
        h1{
            font-size: 20pt;
        }

        h2{
            font-size:16pt
        }
}