.darkred{
    background-color:darkred;
}
.red {
    background-color:red;
}
.orange{
    background-color:orange;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
     color:white;
}
.darkgreen{
    background-color:darkgreen;
     color:white;
}
.lightgreen{
    background-color:lightgreen;
}
.darkblue{
    background-color:darkblue;
    color:white;
}
.lightblue{
    background-color:lightblue;
}
.blue{
    background-color:blue;
     color:white;
}
.violet{
    background-color:violet;
     color:white;
}
.purple{
    background-color:purple;
     color:white;
}
.mediumpurple{
    background-color:mediumpurple;
    color:white;
}
.darkviolet{
    background-color:darkviolet;
    color:white;
}


